MESSAGE_QUEUE_HOST=""
MESSAGE_QUEUE_PASSWORD=""
FCP_AHWR_EVENT_QUEUE_SA_KEY=""
MESSAGE_QUEUE_USER=""
MESSAGE_QUEUE_SUFFIX=""
EVENT_QUEUE_ADDRESS=""
NODE_TLS_REJECT_UNAUTHORIZED="0"
CLAIM_COMPLIANCE_CHECK_RATIO=5
USE_PRETTY_PRINT="true"
